@media screen and (max-width: 768px) {
    .peta {
        padding-bottom: 2%;
    }
}

html, body {
    height: 100%;
    margin: 0;
}

.petaSebaran {
    width: 90%; 
    height: 50%;
    align-content: center;
    margin: 2% 5% 5% 5%;
}

.menu {
    letter-spacing: 1px;
}
